{% extends 'master.html' %}

{% load custom_filters %}

{% block content %}
<script>
    var allMaterialsData = JSON.parse('{{ all_materials_json|safe }}');
    console.log("All materials data:", allMaterialsData);
</script>

  <h2>Bill of Materials (BOM)</h2>
  <div>
    <h3>Products</h3>
    <ul>

      {% for product_id, product_materials in product_materials.items %}
      {% with product=products_dict|get_item:product_id %}
          <li>
              <a href="#" onclick="openPopup('{{ product.id }}'); return false;">{{ product.product_name }}</a>
            <!-- Popup Modal for Each Product -->
            <div id="popupModal-{{ product.id }}" class="popupModal" style="display:none;">
              <div class="modal-content">
                  <h3>{{ product.product_name }}</h3>
                  <table id="table-{{ product.id }}">
                      <tr>
                          <th class="material">Material</th>
                          <th class="units">Units</th>
                          <th class="rate">Rate</th>
                          <th class="quantity">Quantity</th> <!-- Added Quantity header -->
                      </tr>
                      {% for product_materials in product_materials %}
                      <tr data-product-id="{{ product.id }}" data-material-id="{{ material.material_id }}">
                          <td>{{ product_materials.material }}</td>
                          <td>{{ product_materials.units }}</td>
                          <td>{{ product_materials.rate }}</td>
                          <td class="quantity-cell"><input type="number" value="{{ material.quantity }}" style="width: 100%;"></td>
                      </tr>
                      {% endfor %}                      
                  </table>
                  <div class="button-container">
                      <button onclick="toggleEditSave('{{ product.id }}')">Edit</button>
                      <button onclick="closePopup('{{ product.id }}')">Close</button>
                  </div>
                  <h3>Materials Not Included</h3>
                <div class="materials-not-included">
                    <div class="heading-dropdown" onclick="toggleDropdown('{{ product.id }}', 'all_materials')">
                        <span class="dropdown-arrow">&#9654;</span> <!-- Dropdown arrow -->
                    </div>
                    <div id="dropdown-content-{{ product.id }}" class="dropdown-content" style="display:none;">
                        <table>
                            <tr>
                                <th class="material">Material</th>
                                <th class="units">Units</th>
                                <th class="rate">Rate</th>
                                <th class="quantity">Quantity</th>
                            </tr>
                            {% for all_materials in all_materials %} 
                            <tr>
                                <td>{{ all_materials.material }}</td>
                                <td>{{ all_materials.units }}</td>
                                <td>{{ all_materials.rate }}</td>
                                <td class="quantity-cell"><input type="number" style="width: 100%;"></td>
                            </tr>
                            {% endfor %}
                        </table> 
                    </div>
              </div>
          </div>
      </li>
  {% endwith %}
{% empty %}
  <li>No products available.</li>
{% endfor %}
    </ul>
  </div>

{% endblock %}
