{% extends "master.html" %}

{% block title %}
Suppliers Schedule
{% endblock %}

{% block content %}

<h1>Suppliers Schedule</h1>

<div class="table-container">
    <table id="suppliersTable">
        <thead>
            <tr>
                <th>Supplier</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for x in suppliers_list %}
            <tr data-id="{{ x.id }}"> <!-- Add data-id attribute here -->
                <td>{{ x.supplier }}</td>
                <td>{{ x.contact }}</td>
                <td>{{ x.email }}</td>
                <td>{{ x.phone }}</td>
                <td>
                    <button class="small-btn" onclick="editRow(this)">Edit</button>
                    <button class="small-btn" onclick="deleteRow(this)">Delete</button> <!-- Add this line for the delete button -->
                </td>            
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5"><button class="small-btn" id="addBtn-suppliers">Add</button></td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}
